#home {
    width: 100%;
}

.home-categories-container {
    margin-top: 1rem;
    width: 100%;
    display: grid;
    gap: 1rem;
    /* grid-template-rows: 1fr 1fr; */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.home-category {
    display: block;
    border: 1px solid #fff;
    /* height: 200px; */
    text-decoration: none;
    color: #f9f9f9;
    aspect-ratio: 4/5;
    border-radius: 5px;
    background-color: linear-gradient(135deg, #be3af9 0%, #24022d 70%);
    
    background: -moz-linear-gradient(135deg, rgba(190,58,249,1) 0%, rgba(36,2,45,1) 80%);
    background: -webkit-linear-gradient(135deg, rgba(190,58,249,1) 0%, rgba(36,2,45,1) 80%);
    background: linear-gradient(135deg, rgba(190,58,249,1) 0%, #24022d 80%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#be3af9",endColorstr="#24022d",GradientType=1);
}

@media screen and (max-width: 760px) {
    .home-categories-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

}